<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
  <packageSources>
    <add key="MyGet" value="https://dotnet.myget.org/F/nuget-build/api/v2" />
    <add key="UiPathMyGet" value="https://www.myget.org/F/uipath/" />
  </packageSources>
  <disabledPackageSources />
</configuration>